# rpmlint overrides file.
# This file filters out Cygwin warnings.
# See: http://fedoraproject.org/wiki/Cygwin/Rpmlint

# Unconditionally remove devel-file-in-non-devel rpmlint warning.
addFilter ("^cygwin32-.*devel-file-in-non-devel")
addFilter ("^cygwin64-.*devel-file-in-non-devel")

# /usr/x86_64-pc-cygwin is permitted by Cygwin packaging guidelines.
addFilter ("^cygwin32-.*non-standard-dir-in-usr i686-pc-cygwin")
addFilter ("^cygwin64-.*non-standard-dir-in-usr x86_64-pc-cygwin")

# Permit *.la files (error is a bit odd, but it's what rpmlint prints).
addFilter ("^cygwin32-.*script-without-shebang.*\.la$")
addFilter ("^cygwin64-.*script-without-shebang.*\.la$")

# GCC and libtool create executable archive files.  It's not clear
# why, but we permit this for now.
addFilter ("^cygwin32-.*spurious-executable-perm.*\.dll\.a$")
addFilter ("^cygwin64-.*spurious-executable-perm.*\.dll\.a$")

# *.a and *.dll.a files are permitted arch-independent objects.
addFilter ("^cygwin32-.*arch-independent-package-contains-binary-or-object.*\.a$")
addFilter ("^cygwin64-.*arch-independent-package-contains-binary-or-object.*\.a$")
